# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
backend/venv/

# Environment Variables
.env

# Django
db.sqlite3
*.log
media/

# VS Code
.vscode/

# Node
node_modules/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db